{{#if addNewAnswer}}
  <h1>New Answer</h1>
  <br>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Answer</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <button class="answer-button"{{action 'saveAnswer'}}>Save</button>
      <button class="answer-button"{{action 'cancelAnswer'}}>Cancel</button>
      {{#if incompleteForm}}
        <h3 class="error-message">please fill out the form in its entirety</h3>
      {{/if}}
    </form>
  </div>
{{else}}
  <button class="answer-button" {{action 'addNewAnswer'}}>New Answer</button>
{{/if}}
