<h1 class="question-content-detail special-font">{{question.content}}</h1>
<span class="timestamp-question-detail">{{question.timePosted}}</span>

<h3>asked by: {{question.author}}</h3>

<h5><em>{{question.notes}}</em></h5>

<hr>

<h2>answers ({{question.answers.length}}) :</h2>

{{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}

<hr>

<button class="remove-edit" {{action 'delete' question}}>Remove</button>
