<h1>{{question.content}}</h1>

<h3>asked by: {{question.author}}</h3>

<h5><em>{{question.notes}}</em></h5>


<h2>answers:</h2>

{{#each model.answers as |answer|}}
  <h4>answer.content</h4>
  <h5>answer.author</h5>
{{/each}}

{{answer-new saveAnswer="saveAnswer"}}


<button class="remove-edit" {{action 'delete' question}}>Remove</button>
